/* Phones */
@media screen and (max-width: 39.9375em) {

  header#head {

    flex-direction: column;
    height: 19.5rem;
    overflow: hidden;
    justify-content: normal;

    &:hover {

      height: 40rem;

    }

    #logo,
    #filterOptions {

      width: 100%;

    }

    #logo img {

      height: 16.5rem

    }

  }

  section {

    padding: 1rem 0;

    header {

      display: flex;
      justify-content: space-between;

      div, #category {

        display: none;

      }

    }

    ul#movies {

      display: flex;
      flex-direction: column;

      li {

        display: flex;
        flex-direction: column;
        position: relative;

        .poster {

          img {

            width: 10rem;

            &[src*="http"] {

              transition: transform 0.1s ease-in-out;

              &:hover {

                transform: scale(1);

              }

            }

          }

        }

        .title {

          font-size: 2rem;
          text-align:center;
          width: 100%;
          box-sizing: border-box;
          max-width: 100%;
          min-width: 100%;
          line-height: 2rem;

        }

        .categories {

          display: flex;
          justify-content: center;
          margin-bottom: 2.5rem;

          h4 {

            margin: 0 0.5rem;

          }

        }

        .year, .rating, .runtime {

          width: 35%;
          position: absolute;
          bottom: 0rem;
          padding-top: 1rem;

        }

        .year {

          &:before {

            content: 'Year: '

          }

        }

        .rating {

          left: 30%;

          &:before {

            content: 'Rating: '

          }

        }

        .runtime {

          left: 60%;

          &:before {

            content: 'Run Time: '

          }

        }

        .link {

          position:absolute;
          right: 0;
          top: 0.5rem;

        }

      }

    }

  }

}

/* Tablets */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  header#head #logo img {

    width: 100%;
    height: auto;
    
  }

}
