section {

  width: 100%;
  display: table;
  padding: 2rem 0;
  position: relative;

  header {

    display: table-header-group;
    background: $lightBlue;

    h2 {

      display: table-cell;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.5rem;

      &.order {

        cursor: pointer;

      }

      &.ordered {

        background: $purple;
        color: $lightWhite;
        cursor: pointer;

        &.ASC:after {

          transform: rotate(180deg);

        }

        &:after {

          content: '';
          background: url('../img/arrow.png') no-repeat center;
          background-size: contain;
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          display: inline-block;
          margin-left: 0.5rem;

        }

      }

    }

  }

  ul#movies {

    min-height: 100vh;
    display: table-row-group;

    li {

      display: table-row;

      >* {

        display: table-cell;
        padding: 0.5rem;
        vertical-align: middle;
        line-height: 1.5rem;

      }

      .poster {

        text-align: center;
        padding: 1rem 0;

        img {

          vertical-align: middle;
          width: 2rem;

          &[src*="http"] {

            transition: transform 0.1s ease-in-out;

            &:hover {

              transform: scale(4);

            }

          }

        }

      }

      .title {

        max-width: 20rem;
        min-width: 20rem;

      }

      &:nth-child(odd) {

        background: #f6f6f5;

      }

      &:nth-child(even) {

        background: #fbfbfb;

      }

      .categories {

        h4 {

          background: $blue;
          text-align: center;
          margin: 0.5rem 0;
          padding: 0 0.5rem;
          color: $lightWhite;
          cursor: pointer;

        }

      }

      .link {

        text-align: center;

        img {

          width: 2rem;

        }

      }

    }

  }

}
