#pagination {

  display: flex;
  justify-content: center;

  button {

    border: none;
    color: $lightWhite;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    background: $pink;
    cursor: pointer;

    &#next {

      &:after {

        content: '';
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background: url('../img/arrow.png') no-repeat right center;
        background-size: contain;
        transform: rotate(-90deg);
        margin-left: 0.5rem;

      }

    }

    &#prev {

      &:before {

        content: '';
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background: url('../img/arrow.png') no-repeat right center;
        background-size: contain;
        transform: rotate(90deg);
        margin-right: 0.5rem;

      }

    }

  }

}
